/************ Custom Font ************/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background: linear-gradient(to bottom, #ffffff, #ffffff);
  color: #000000 !important;
  font-family: "Poppins", sans-serif  !important;
  font-optical-sizing: auto;
}

.container{
  max-width: 95% !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none !important;
}

h1, h2, h3, h4 {
  font-weight: 400 !important;
}

.bold{
  font-weight: 600;
}

a {
  color: #ffffff !important;
}

a:hover {
  text-decoration: none;
  color:#fff200!important;
}

img {
  width: 100%;
  height: auto;
}

.cursor {
  display: inline-block;
  width: 2px; 
  height: 1em; 
  background-color: black; 
  animation: blink 1s step-start infinite; 
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

@media (max-width:992px) {
  nav.navbar {
    background:#ededed;
  }
}

@media (max-width:480px) {
  .container{
    max-width: 94% !important;
  }
  p, a, li {
    font-size:14px !important;
  }
}


p.success {
	color: rgb(68, 255, 68);
}

p.danger {
	color: rgb(254, 97, 97);
}
/************ Navbar Css ************/

.Nav-logo {
  max-height:45px;
  width:auto;
}
  
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background:  #fffffff4;
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #000000 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
}
nav.navbar .navbar-nav a.nav-link.navbar-link {
  position: relative;
  color: #000000;
  text-decoration: none;
}

nav.navbar .navbar-nav a.nav-link.navbar-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 2px;
  background-color:#a9008b;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover::after {
  width: 80%;
  left: 10%;
}
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  color:#a9008b !important;

}
span.navbar-text {
    display: flex;
    align-items: center;
}

.navbar-text button {
  font-weight: 700;
  color: #ffffff;
  border-radius: 50px;
  padding: 10px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
  background-color:#a9008b;
  border : solid 2px #a9008b;
	transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #a9008b;
  background-color:transparent;
  border-color: #a9008b;
  border : solid 2px #a9008b;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #000000;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #000;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #000;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #000;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}

#basic-navbar-nav a {
  padding: 10px;
}


/********   Banner CSS   ********/

.home_img {
  max-width: 800px;
  height:auto;
}
.home-heading {
  background: linear-gradient(to right, #7100fb, #a9008b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.banner{
  padding:180px 0 0;
}

/* specialities CSS */

.specialities{
  margin-top:120px;
  background: linear-gradient(to bottom, #f6f6f6, #ffffff);
  border-radius: 40px;
  padding:100px 0;
  
}

.specialities img {
  width:130px;
  padding-bottom:20px;
}
.specialities h4 {
  color: #a9008b;
}

.customer-service {
  background: #e3e3e3;
  padding:60px 40px !important;
  border-radius: 30px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.customer-service:hover {
  background-color:#d8e3ff;
  color: #000000 !important;
}

/* Footer CSS */

.footer {
  border-radius: 40px 40px 0 0;
  background: #131313;
  color:#ffffff;
  Padding:50px 0 25px;
}


.footer_logo_div {
  padding-right:80px;
}

.footer_logo {
  max-width:200px;
  padding-bottom:20px;
}

.footer h4 {
  color:#fff200
}

.social-icon {
  display: inline-block;
  margin-bottom: 14px;
}
.social-icon a {
  width: 60px;
  height: 60px;
  background: #fff200;
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid #fff200;
}
.social-icon a::before {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  background-color:#fff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

/* About page CSS */

.AboutUs {
  margin-top:120px;
  background: linear-gradient(to bottom, #f6f6f6, #ffffff);
  border-radius: 40px;
  padding:55px 0;
}
.about-img {
  max-width:450px;
  border-radius: 30px;
}

.AboutUs h3 {
  color:#a9008b;
}

.why-choose {
  padding-top:50px;
}



/* Not Found Page */

.not-found {
  padding:100px 0 50px;
}

.back-home-btn {
  background-color: #a9008b;
  padding:10px 20px;
  border-radius: 40px;
  color: #F0F8FF;
}

.back-home-btn:hover {
  background-color: #ff00d0;
}